@font-face {
	font-family: "Robson Celtic";
	src: url("Lobster.otf")
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

paper-header-panel{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;;
}
#h{
	margin: 0px;
	padding: 0px;
	background-color: #37474F;
	color: whitesmoke;
	width: 100%;
	height: 22%;
}

#paperElement{
	z-index: 0;
	position: absolute;
	width: 90%;
	height: 96%;
	top: 2%;
	left: 5%;
	background-color: white;
	min-width: 1000px;
	min-height: 600px;
	border-radius: 6px;
	transition: all 1s;
}

#frame{
	width: 100%;
	height: 100%;
}

#conten{
	padding: 0px;
	position: relative;
	width: 100%;
	height: 100%;
}

#conten canvas{
	position: absolute;
	top: 0px;
}

.contexList{
	font-size: 0.8em;
	margin: 0px;
	padding: 2px;
	list-style-type: none;
	background-color: whitesmoke;
	position: absolute;
	display: none;
	z-index: 999;
	border-radius: 3px;
}

.contexList li{
	cursor: hand;
	padding: 5px 10px;
	text-align: center;
	border-radius: 2px;
	transition: all 0.5s;
}

.contexList li:hover{
	background-color: #D8D8D8;
}

#sideBar{
	float: right;
	position: relative;
	/*overflow-y: scroll;*/
	width: 290px;
}
#myBtn{
	margin: auto;
	background-color: #1E88E5;
	border: none;
	color: white;
	width: 40%;
	height: 40px;
	font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    border-radius: 5px;
    margin-right: 30%;
}
#card{
	position: absolute;
	margin: auto;
	width: 30%;
	right: 35%;
	top:6%;
}
#input1{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	width: 200px;
	height: 25px;
	border: none;
	border-bottom: 1px solid black;
	
}
#txt{
	border-radius: 3px;
	width: 96%;
	margin: auto;
	margin-top: 4%;
}
#sideBar{
	max-height: 92.7%;
	overflow: auto;
}
#txt{
	min-height: 20%;
	padding-bottom: 5px;
}
.divEstructura{
	margin-top: 3px;
	border-radius: 3px;
}
#txt paper-icon-button{
	float: right;
}
.span{
	width: 100%;
	min-height: 40px;
}
.span span{
	font-size: 1.2em;
	margin-left: 10px;
}
.fabButton{
	position: absolute;
	bottom: 0;
	right: 10px;
}

.floated-label-placeholder{
	display: none;
}
.select2-container{
	font-size: 0.9em;
	margin: 0px;
}

#menuBar{
	position: absolute;
	top: 0;
	left: -260;
	width: 260px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 99;
	transition: all 0.5s;
	background-color: #455A64;
	color: whitesmoke;
	overflow: hidden;
}

#menuBar p{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
	padding-bottom: 5px;
	background-color: #37474F;
	padding: 16px 0px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#menuBar #user{
	position: absolute;
	bottom: 10px;
	width: 240px;
	font-size: 1.1em;
	margin: 0px 10px;
}

#menuBar ul{
	text-decoration: none;
	color: whitesmoke;
	list-style: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#menuBar ul li{
	width: 100%;
	padding: 10px 25px;
	margin: 0px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.9em;
    transition: all 0.3s;
}

#menuBar ul li:hover{
	cursor: hand;
	background-color: #37474F;
}


#menuBar ul li a{
	text-decoration: none;
	color: whitesmoke;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#login{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(164,164,164, 0.8);
	z-index: 999;
	display: none;
}

#paperLogin{
	width: 320px;
	height: 420px;
	background-color: white;
	margin: auto;
	border-radius: 6px;
}

#paperLogin img{
	width: 200px;
	margin-left: 60px;
	margin-top: 10px; 
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#paperLogin p{
	margin: 0px;
	margin-bottom: 10px;
}

#button{
	background-color: #1E88E5;
	color: white;
    font-size: 0.9em;
    margin: auto;
}

#showImg{
	width: 96%;
	border-radius: 6px;
	overflow: hidden;
	margin-top: 2%;
	margin-left: 2%;

}

.showImgEst img{
	height: 50px;
	padding: 10px;
}

.showImgEst *{
	float: left;
}

.showImgEst p{
	font-size: 0.8em;
	padding-top: 10px;
}

.showImgEst .fabIcon{
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

.showImgEst:last-child {
	margin-bottom: 2%;
}

.showImgAdmin {
	height: auto;
}

#contenData{
	max-height: 0px;
	overflow: auto;
	transition: all 1s linear;
}

.showImgAdmin .user{
	font-family: 'Lobster', cursive;
	font-size: 25px;
	padding: 10px;
	margin: 0px;
	transition: all 1s;
}

.showImgAdmin:hover #contenData{
	max-height: 500px;
}

.showImgAdmin:hover .user{
	background-color: #37474F;
	color: white; 
}

#toast{
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: #263238;
	z-index: 99999;
	font-size: 0.8em;
	padding: 8px 30px;
	border-radius: 4px;
	display: none;
	color: whitesmoke;
}

#paperStructure{
	z-index: 99999;
	display: none;
	background-color: white;
	width: 250px;
	height: 150px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
}
#paperStructure span{
	color: gray;
	float: right;
	margin-top: -15px;
	margin-right: -15px;
}
